<h1>Hello <%= @user.first_name || @user.email %>,</h1>

<p>Your registration has been received and is currently pending approval by the ShopVerse team.</p>
<p>You will be notified once your account has been reviewed.</p>

<p>Best regards,</p>
<p>The ShopVerse Team</p>
